/* Container */

body, html {
  margin: 0;
  padding: 0;
  
}

.terms-container {
    display: flex;
    flex-direction: row;
    font-family: Poppins, sans-serif;
    min-height: 90vh;
    /* background-color: #ffffff; */
    
    top: 0;
    margin: 0;
    padding: 0;
  }
  
  /* Sidebar */
  .sidebar {
    flex: 0 0 500px;
    background-color: #47b956;
    padding: 20px;
    box-shadow: 0 2px 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    height: 100vh;
    position: sticky;
    top: 0;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin-left: 22px;
    top: 0;
    

  }
  
  .sidebar li {
    margin-bottom: 10px;
    top: 0;
    

  }
  
  .sidebar li a {
    color: #000000CC;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.2s ease;
    top: 0;

  }
  
  .sidebar li a:hover {
    color: #7d7d7d;
    top: 0;

  }
  
  /* Main Content */
  .content {
    flex: 1;
    padding: 0 20px 40px 20px;
    background-color: #47b956;
    overflow-y: auto;
  }
  
  .content h1 {
    margin-top: 0;
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .table-content-title {
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: 600;
  }
  
  .content p,
  .table-content-text {
    line-height: 1.6;
    font-size: 16px;
    color: #000000;
    
    margin-bottom: 20px;
    font-weight: 400;
  }
  
  /* Responsive Styling */
  @media (max-width: 1024px) {
    .terms-container {
      flex-direction: column;
      top: 0%;
    }
  
    .sidebar {
      position: absolute;
      width: 100%;
      /* height: auto; */
      box-shadow: none;
      
    }
  
    .content {
      margin-left: 0;
      /* padding: 20px; */
    }
  }
  